textarea:focus{
    @apply focus:border-fc-color-100 focus:ring-0;
    
}

textarea::-webkit-scrollbar {
    @apply hidden;
}

input:focus{
    @apply focus:border-fc-color-100 focus:ring-0;
}

input[type="file"] {
    @apply text-[#3cff00] text-xl font-[bold] leading-loose mx-0 my-2.5 content-["Add"];
}

select:focus{
    @apply  focus:ring-0;
}
